## Homework 5 

## Zhongqi Miao
### In collaboration with Jacob Bukoski and Oliver Muellerklein

In [1]:
import pandas as pd
import numpy as np
import sqlite3
from bs4 import BeautifulSoup
from urllib.request import urlopen
from datetime import datetime
import itertools

In [2]:
# First, create a class for some basic sql utilities

class sql_utl:
    
    def __init__(self):
        self.db = None
        self.connection = None
        self.cursor = None
         
    def connect(self, database):
        """sql database connection"""
        self.db = database
        self.connection = sqlite3.connect(self.db)
        self.cursor = self.connection.cursor()
        
    def table_list(self):
        """show table list of current database"""
        sql_cmd = "select * from sqlite_master where type = 'table';"
        self.cursor.execute(sql_cmd)
        db_info = self.cursor.fetchall()
        for entry in db_info: 
            print(entry)
            
    def drop(self, table):
        """drop selected table from database"""
        sql_cmd = "drop table %s" % (table)
        self.cursor.execute(sql_cmd)
            
    def close (self):
        """commit changes to the database and close the connection"""
        self.connection.commit()
        self.connection.close()

In [3]:
# First, connect to the data base created for this homework
sql = sql_utl()
sql.connect('HW5.db')

In [19]:
# Show the table list of current database
#sql.drop('Weather')
sql.table_list()

('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)')
('table', 'Top_Airport', 'Top_Airport', 2, 'CREATE TABLE Top_Airport (ICAO TEXT, Airport TEXT,\n            City TEXT, Latitude REAL, Longitude REAL, Elevation REAL,\n            PRIMARY KEY (ICAO))')
('table', 'Weather', 'Weather', 4, 'CREATE TABLE Weather (ICAO TEXT, Date DATE,\n            MeanT REAL, MaxT REAL, MinT REAL, MeanH REAL, MaxH REAL, MinH REAL, Prep REAL,\n            FOREIGN KEY(ICAO) REFERENCES Top_Airport(ICAO))')

In [6]:
# This cell is used for data preperation
# Merge the two csv files together and pull out only icao, name of the airports, cities, and geographic information

top_data = pd.read_csv('hw_5_data/top_airports.csv')

icao = pd.read_csv('hw_5_data/ICAO_airports.csv')

icao = icao.rename(columns={'iata_code': 'IATA'})

merge_data = pd.merge(top_data, icao, on=['IATA'])

top_modified = merge_data[['ICAO', 'Airport', 'City', 'latitude_deg', 'longitude_deg', 'elevation_ft']]

In [16]:
top_modified.head(2)

,ICAO,Airport,City,latitude_deg,longitude_deg,elevation_ft
0,KATL,Hartsfield-Jackson Atlanta International Airport,Atlanta,33.6367,-84.428101,1026.0
1,KORD,Chicago O'Hare International Airport,Chicago,41.9786,-87.904800,672.0

In [379]:
# Create a table to store the airport data just created

sql_cmd = """CREATE TABLE Top_Airport (ICAO TEXT, Airport TEXT,
            City TEXT, Latitude REAL, Longitude REAL, Elevation REAL,
            PRIMARY KEY (ICAO))"""
sql.cursor.execute(sql_cmd)

In [10]:
# Check whether it is created
#sql.drop('Weather')
sql.table_list()

('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)')
('table', 'Top_Airport', 'Top_Airport', 2, 'CREATE TABLE Top_Airport (ICAO TEXT, Airport TEXT,\n            City TEXT, Latitude REAL, Longitude REAL, Elevation REAL,\n            PRIMARY KEY (ICAO))')
('table', 'Weather', 'Weather', 4, 'CREATE TABLE Weather (ICAO TEXT, Date DATE,\n            MeanT REAL, MaxT REAL, MinT REAL, MeanH REAL, MaxH REAL, MinH REAL, Prep REAL,\n            FOREIGN KEY(ICAO) REFERENCES Top_Airport(ICAO))')

In [135]:
# Populate data into the table
for i in range(len(top_modified)):
    sql_cmd = ("INSERT INTO Top_Airport (ICAO, Airport, City, Latitude, Longitude, Elevation) VALUES " 
               + str(tuple(top_modified.ix[i])))
    sql.cursor.execute(sql_cmd)

In [191]:
# Check whether it is done correctly
sql_cmd = 'select * from Top_Airport'

sql.cursor.execute(sql_cmd)

sql.cursor.fetchall()[0]

('KATL',
 'Hartsfield-Jackson Atlanta International Airport',
 'Atlanta',
 33.6366996765137,
 -84.4281005859375,
 1026.0)

In [13]:
# Create a table for storing wether data
sql_cmd = """CREATE TABLE Weather (ICAO TEXT, Date DATE,
            MeanT REAL, MaxT REAL, MinT REAL, MeanH REAL, MaxH REAL, MinH REAL, Prep REAL,
            FOREIGN KEY(ICAO) REFERENCES Top_Airport(ICAO))"""
sql.cursor.execute(sql_cmd)

In [23]:
# Create a class for the web crowler
class weather:
    
    def __init__(self):
        self.begin = None
        self.end = None
        self.icao = None
        self.tbody = None
        self.y = None
        self.m = None
        self.d = None
        self.icao = None

    global sql
    
    def fetch (self, icao, date):
        
        """
        This function is used for fetching yearly data from weather underground. 
        It returns a tbody object of the yearly data table.
        """

        response = urlopen("https://www.wunderground.com/history/airport/%s/%s/1/1/CustomHistory.html?dayend=31&monthend=12&yearend=%s" \
                           % (icao, date, date))
        html = response.read()
        response.close()

        soup = BeautifulSoup(html,"html5lib")

        tbody = soup.find('table', id = 'obsTable', class_ = 'responsive obs-table daily').find_all('tbody')

        return tbody
    
    def callback (self, row):
    
        """ Callback function for actually ectracting data from the tbody, and insert the data into weather table"""
        
        if 'avg' in row.text:
            self.m += 1
            self.d = 0

        #print(self.y, self.m, self.d)

        if self.d != 0:
            td = row.find_all('td')

            MaxT = td[2].text.strip()
            MeanT = td[1].text.strip()
            MinT = td[3].text.strip()
            MaxH = td[8].text.strip()
            MeanH = td[7].text.strip()
            MinH = td[9].text.strip()
            Prep = td[-2].text.strip()
            Date = datetime(self.y, self.m, self.d).date()

            #print(MaxT, MeanT, MinT, MaxH, MeanH, MinH, Prep)
            
            sql.cursor.execute("""INSERT INTO Weather (ICAO, Date, MaxT, MeanT,
                            MinT, MaxH, MeanH, MinH, Prep) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)""",
                                  (self.icao, Date, MaxT, MeanT, MinT, MaxH, MeanH, MinH, Prep))

        self.d += 1

    def Populate_data (self, begin, end, icao):
        
        """
        This is the function actually do the whole population. 
        It loop through the year, map through the rows of the tbody, calls callbacks on each rows except 
        for the header rows.
        """
    
        self.icao = icao
        
        for i in range(begin, end+1):

            tbody = self.fetch(icao, i)

            self.y = i
            self.m = 0
            self.d = 0

            a = list(map(self.callback, tbody))

In [24]:
# Fetch data and insert them into the weather table for the 50 top airports
weather_obj = weather()

for i in top_modified['ICAO']:
    weather_obj.Populate_data (2008, 2016, i)

In [25]:
# Check out what we have!
sql_cmd = 'select * from Weather;'

sql.cursor.execute(sql_cmd)

sql.cursor.fetchall()[2]

('KATL', '2008-01-03', 40.0, 28.0, 15.0, 73.0, 46.0, 19.0, 0.0)

In [26]:
# Close the connection
sql.close()

---
## For Problem 4 and 5

In [5]:
# First, connect to the data base created for this homework
sql = sql_utl()
sql.connect('HW5.db')

In [17]:
sql.table_list()

('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)')
('table', 'Top_Airport', 'Top_Airport', 2, 'CREATE TABLE Top_Airport (ICAO TEXT, Airport TEXT,\n            City TEXT, Latitude REAL, Longitude REAL, Elevation REAL,\n            PRIMARY KEY (ICAO))')
('table', 'Weather', 'Weather', 4, 'CREATE TABLE Weather (ICAO TEXT, Date DATE,\n            MeanT REAL, MaxT REAL, MinT REAL, MeanH REAL, MaxH REAL, MinH REAL, Prep REAL,\n            FOREIGN KEY(ICAO) REFERENCES Top_Airport(ICAO))')

In [4]:
def pair_data(icao1, icao2, attribute, diff_day):

    sql_cmd = """select w1.%s, w2.%s
                 from Weather w1, Weather w2 
                 where julianday(w2.date) - julianday(w1.date) = %s
                 and w1.icao = '%s' 
                 and w2.icao = '%s'
                 and typeof(w1.%s) = 'real'
                 and typeof(w2.%s) = 'real';""" % (attribute, attribute, diff_day, icao1, icao2, attribute, attribute)

    sql.cursor.execute(sql_cmd)
    return sql.cursor.fetchall()

def top10_corr(attribute, diff_days):

    corr_list = []

    for i in list(itertools.combinations(top_modified['ICAO'], 2)):

        arr = np.array(list(map(lambda row : [row[0], row[1]], pair_data(i[0], i[1], attribute, diff_days)))).transpose()

        corr = np.corrcoef(arr)[0, 1]

        corr_list.append([i, corr])
        
    top10 = sorted(corr_list, key=lambda element: element[1])[:10]
        
    return top10

In [ ]:
prep_corr_1 = top10_corr('Prep', 1)
prep_corr_3 = top10_corr('Prep', 3)
prep_corr_7 = top10_corr('Prep', 7)

t_corr_1 = top10_corr('MeanT', 1)
t_corr_3 = top10_corr('MeanT', 3)
t_corr_7 = top10_corr('MeanT', 7)

In [ ]:
prep_corr_1 = np.array(prep_corr_1).transpose()
prep_corr_3 = np.array(prep_corr_3).transpose()
prep_corr_7 = np.array(prep_corr_7).transpose()

t_corr_1 = np.array(t_corr_1).transpose()
t_corr_3 = np.array(t_corr_3).transpose()
t_corr_7 = np.array(t_corr_7).transpose()

In [ ]:
def dist(lat1, lon1, lat2, lon2):

    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    
    a = (np.sin(dlat/2))**2 + np.cos(lat1) * np.cos(lat2) * (np.sin(dlon/2))**2 
    c = 2 * np.arctan2( np.sqrt(a), np.sqrt(1-a) ) 
    d = 6373 * c # in km
    
    return d

In [ ]:
dist_list_r = []
dist_list_l = []

for i in list(itertools.combinations(top_modified['ICAO'], 2)):

    real_dist = dist(top_modified['latitude_deg'][top_modified['ICAO'] == i[0]],
                     top_modified['longitude_deg'][top_modified['ICAO'] == i[0]], 
                     top_modified['latitude_deg'][top_modified['ICAO'] == i[1]], 
                     top_modified['longitude_deg'][top_modified['ICAO'] == i[1]])

    lon_dist = dist(0, top_modified['longitude_deg'][top_modified['ICAO'] == i[0]],
                    0, top_modified['longitude_deg'][top_modified['ICAO'] == i[1]])
    
    dist_list_r.append([i, real_dist])
    dist_list_l.append([i, lon_dist])
    
dist_list_r = np.array(dist_list_r).transpose()
dist_list_l = np.array(dist_list_l).transpose()

In [ ]:
f, ax = plt.subplots()
ax.plot(dist_list_r[1], prep_corr_1[1], label='Real dist 1 day') 
ax.legend()
ax.plot(dist_list_r[1], prep_corr_3[1], label='Real dist 3 day')
ax.legend()
ax.plot(dist_list_r[1], prep_corr_7[1], label='Real dist 7 day')
ax.legend()
ax.set_title('Precipitation correlation (Real distance)')
ax.set_xlabel('Distance')
ax.set_ylabel('Correlation strength')

In [ ]:
f, ax = plt.subplots()
ax.plot(dist_list_r[1], t_corr_1[1], label='Real dist 1 day') 
ax.legend()
ax.plot(dist_list_r[1], t_corr_3[1], label='Real dist 3 day')
ax.legend()
ax.plot(dist_list_r[1], t_corr_7[1], label='Real dist 7 day')
ax.legend()
ax.set_title('Temperature correlation (Real distance)')
ax.set_xlabel('Distance')
ax.set_ylabel('Correlation strength')

In [ ]:
f, ax = plt.subplots()
ax.plot(dist_list_l[1], prep_corr_1[1], label='Lon dist 1 day') 
ax.legend()
ax.plot(dist_list_l[1], prep_corr_3[1], label='Lon dist 3 day')
ax.legend()
ax.plot(dist_list_l[1], prep_corr_7[1], label='Lon dist 7 day')
ax.legend()
ax.set_title('Precipitation correlation (Lon distance)')
ax.set_xlabel('Distance')
ax.set_ylabel('Correlation strength')

In [ ]:
f, ax = plt.subplots()
ax.plot(dist_list_l[1], prep_corr_1[1], label='Lon dist 1 day') 
ax.legend()
ax.plot(dist_list_l[1], prep_corr_3[1], label='Lon dist 3 day')
ax.legend()
ax.plot(dist_list_l[1], prep_corr_7[1], label='Lon dist 7 day')
ax.legend()
ax.set_title('Precipitation correlation (Lon distance)')
ax.set_xlabel('Distance')
ax.set_ylabel('Correlation strength')

In [ ]:
# close the connection
sql.close()